<div>
    <div class="form-group">
        <label>Car brand</label>
        {{car.brand}}
    </div>
    <div class="form-group">
        <label>Car capacity</label>
        {{car.capacity}}
    </div>
    <button class="btn btn-success" ng-click="success()"><i class="glyphicon glyphicon-save"></i> Success resolve promise</button>
    <button class="btn alert-warning" ng-click="catch()"><i class="glyphicon glyphicon-warning-sign"></i> Un success resolve promise</button>
    <!--Extra-->
    <a class="btn btn-warning" href="#"><i class="glyphicon glyphicon-arrow-left"></i> Back</a>
</div>