<div class="text-center ">
  <div class="center-block">
    <div class="col-md-12">
      <label class="text-info col-md-3">Write your value to success:</label>
      <input ng-model="value.success" class="col-md-3">
    </div>
    <div class="col-md-12">
      <label class="text-info col-md-3">Write your value to un success:</label>
      <input ng-model="value.unSuccess" class="col-md-3">
    </div>
    <a class="form-group btn btn-success " ng-click="exercise.set(value)"><i class="glyphicon glyphicon-arrow-right"></i> Display value to next page</a>
  </div>

</div>