<form>
    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text"  ng-model="name">
    </div>
    <div class="form-group">
        <label for="number">Quantity:</label>
        <input id="number" type="number" ng-model="quantity">
    </div>
    <div ng-if="added" class="text-success">
        Successfully added!
    </div>
    <div class="btn-group">
        <button type="reset" class="btn btn-success" ng-click="add(name,quantity)"><i class="glyphicon glyphicon-plus-sign"></i> Add to order</button>
        <a class="btn btn-warning" href="#/display"><i class="glyphicon glyphicon-arrow-right"></i> Next step</a>
    </div>
</form>