<div>
  <p class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    You need one parts choose one.</p>

  <div class="radio col-md-offset-5">
    <ul class="list-unstyled">
      <li ng-repeat="list in lists">
        <label for="option">{{list.name}} </label>
        <input id="option" type="radio" ng-model="data.part" name="part" value="{{list.name}}" required/>
      </li>
    </ul>
  </div>
  <div class="text-center">
    <a href="#/choose/{{data.part}}" class="btn btn-default">Choose</a>
  </div>
</div>