<!DOCTYPE html>
<html>
<head lang="en">
    <title>AngularJS Tutorials</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body ng-app="phoneApp" ng-controller="PhoneCtrl">
<div class="container">
    <div class="page-header">
        <h1>Call Me
            <small>Maybe!</small>
        </h1>
    </div>
    <div class="col-md-offset-4">
        <div class="form-group col-md-3">
            <select class="form-control" ng-model="selectedPerson.name">
                <option ng-repeat="person in phoneBook">{{person.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="showPhone()">
                <strong ng-hide="phone">Give me the phone!</strong>
                <strong ng-show="phone">I don't need a phone.</strong>
            </button>
        </div>
    </div>
    <div class="text-center" ng-click="call()">
        <div class="form-group btn btn-default" ng-show="phone">
            <p>{{selectedPerson.number}}</p>
            <img src="assets/phone.png">
        </div>
    </div>
</div>
<script src="../bower_components/angular/angular.js"></script>
<script src="phone.js"></script>
</body>
</html>