<label for="devote" class="label label-default">How much to devote</label>

<select ng-model="howMany" id="devote" ng-options="proposal for proposal in proposals" class="form-control form-group"></select>
<div class="text-center">
    <button id="toggle" class="btn btn-default" ng-click="toggleContent()" ng-model="forWhat" >{{forWhat || "For poor pets"}}</button>
    <!--here display content from index.html--><div ng-transclude><</div>
    <strong id="message" ng-if="isContentVisible" >{{takeMyMoney}} </strong>
</div>
