<div class="col-md-offset-4 col-md-4">
  <div class="panel panel-body panel-default">
    <div class="form-group ">
      <label for="name" class="label label-default">Product</label>
      <input id="name" type="text" class="form-control" ng-model="product.name">
    </div>
    <div class="form-group">
      <label for="quantity" class="label label-default">Quantity</label>
      <input id="quantity" type="number" class="form-control" ng-model="product.quantity">
    </div>
    <div class="form-group">
      <label for="price" class="label label-default">Price</label>
      <input id="price" type="number" class="form-control" ng-model="product.price">
    </div>
    <div>
      <a class="btn btn-success" href="#/order"><i class="glyphicon glyphicon-arrow-right"></i> Next step</a>
    </div>
  </div>
</div>