<div>
    <h3 ng-click="content()" class="btn btn-info" ng-if="isCandyVisible(title)">
        {{title}}
    </h3>
    <div ng-show="isContentVisible">
        <div ng-if="title&&quantity > 100" class="form-group">
            <span>You've ordered a lot of {{title}}s!</span>
            <img ng-if="quantity > 100 && 'candy'==title" src="Candy.jpg">
        </div>
        <div ng-if="quantity < 100 && quantity > 1" class="form-group">Your order: {{quantity}} {{title}}s</div>
        <div ng-if="quantity == 1" class="form-group">Your order: {{quantity}} {{title}}</div>
    </div>
</div>