.square {
    width: 100px;
    height: 100px;
    border: #dcdcdc;
    border-width: thin;
    background-color: yellowgreen;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: #dcdcdc;
    background-color: #00b3ee;

}