<div class="col-md-offset-3 col-md-6">
    <h3 class="text-center">{{start}}</h3>

    <div class="alert alert-info text-center" role="alert">
        <h4><span class="glyphicon glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
            You are in the forest...</h4>

        <p> {{message}}</p>
    </div>
    <div class="alert alert-danger text-center" role="alert">
        <h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Your mission is: <strong>{{mission}}</strong></h4>

        <p>
            and the only thing you have is: <strong>{{data.selectedThing}}</strong></p>
    </div>
    <div class="alert alert-success text-center" role="alert">
        <h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Good Luck! </h4>
    </div>
    <div class="text-center">
        <a class="btn btn-default btn-lg" href="#">Choose another
            mission</a>
    </div>
</div>
