<form class="form-horizontal">
    <div class="form-group">
        <label for="brand">Car brand</label>
        <input type="text" class="form-control" id="brand" ng-model="car.brand" placeholder="brand">
    </div>
    <div class="form-group">
        <label for="capacity">Car capacity</label>
        <input type="text" class="form-control" id="capacity" ng-model="car.capacity" placeholder="capacity">
    </div>
    <a id="nextButton" class="btn" href="#/inputs/{{car.brand}}/{{car.capacity}}"><i class="glyphicon glyphicon-arrow-right"></i> Next step</a>
</form>
