<div class="col-md-offset-3 col-md-6 panel panel-danger">

    <div class="alert" role="alert">
        <p class="text-center"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            Choose one thing that will help you in the mission</p>

        <div class="radio col-md-offset-5">
            <ul class="list-unstyled">
                <li ng-repeat="thing in things">
                    <label>{{thing.name}}
                        <input type="radio" ng-model="data.selectedThing" name="selectedThing" value="{{thing.name}}" required/>
                    </label>
                </li>
            </ul>
        </div>
    </div>

    <div id="alertMessage" class="alert alert-success text-center" ng-show="alertMessage" role="alert">
        <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
        {{alertMessage}}
    </div>

    <div class="text-center">
        <button id="homeButton" class="alert alert-info" ng-click="goHome()"><strong>Mission 1: Home</strong></button>
        <button id="forestButton" class="alert alert-danger" ng-click="goForest()"><strong>Mission 2: Forest</strong></button>
    </div>
</div>
