<div ng-show="choose">
    <div class="page-header text-center">
        <strong>You choose</strong>

        <p> Country:<span class="text-success"> {{country}}</span></p>

        <p>State: <span class="text-success"> {{state}}</span></p>
    </div>
    <table class="table text-center">
        <thead>
        <tr>
            <th class="text-center">
                Capital city
            </th>
            <th class="text-center">
                Largest city
            </th>
            <th class="text-center">
                Population
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                {{choose.capital}}
            </td>
            <td>
                {{choose.largestCity}}
            </td>
            <td>
                {{choose.population | formatPopulation}}
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <strong>Flag:</strong>

                <div>
                    <img class="flag" ng-src="{{flag}}">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
